doctype html
html(lang="en")
  head
    title= "Welcome to mini-Wiki!"
    meta(charset="utf-8")
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/styles.css" rel="stylesheet" media="screen")

  body
    div.row
      div.column
        h1= "Welcome to mini-Wiki!"

        p.tagline= "It's always a busy day for our only article..."

        h2= "Articles"
        ul
          li
            a(href="/Latest_plane_crash")= "Latest plane crash"
